.news-head {
    font-size: 20px;
    text-align: left;
    color: darkkhaki;
}

.news-body {
    font-size: 15px;
    text-align: left;
    color: white
}

.by {
    color: grey;
}

#sc:visited {
    font-weight: bolder;
    color: palevioletred;
}

.back {
    float: left;
    margin-top: 10px;
    font-size: 20px;
    background-color: blue;
    font-weight: bolder;
}

a {
    text-decoration: none;
    color: black;
}

.card-title {
    color: grey;
}

.card {
    width: 400px;
    background-color: slategrey;
}

.img-responsive {
    height: 280px;
    width: 100%;
}

.head {
    font-family: cursive;
    color: brown;
}

article {
    background-color: ;
}