body {
    background-color: brown;
}

.head {
    font-family: cursive;
    color: brown;
    border-radius: 2px;
    width: 100%;
}

.nav-link {
    color: whitesmoke;
    font-size: 30px;
}

button {
    height: 5px;
    width: 10px;
}

span {
    float: right;
}