{% extends 'users/base.html' %}{% load static %} {% block content %}
<link rel="stylesheet" href="{% static 'profile/css/profile.css' %}">
<div class="jumbotron">
    <h6 class="display-4 text-center">Profile Page</h6>
    <p class="lead"><div class="profile-pix"><img src="{% static 'users/images/paul.jpg' %}" id="pro" alt="" /></div>
    <hr>
    <div class="sub-head">Student's Personal Biodata</div>
    <div class="full-data"><br>
        <div class="bio-data"><strong id="name">Candidte's Full Name</strong><span style="float:right">samuel</span><hr></div>
        <div class="bio-data"><strong id="birth">Date of Birth</strong><span style="float:right">samuel</span><hr></div>
        <div class="bio-data"><strong id="class">Gender</strong><span style="float:right">samuel</span><hr></div>
        <div class="bio-data"><strong id="country">Nationality</strong><span style="float:right">samuel</span><hr></div>
        <div class="bio-data"><strong id="origin">Origin</strong><span style="float:right">samuel</span><hr></div>
        <div class="bio-data"><strong id="address">Residence address</strong><span style="float:right">samuel</span><hr></div>
        <div class="bio-data"><strong id="rel">Religion</strong><span style="float:right">samuel</span><hr></div>
    </div>
    <div class="sub-head">Accademy's Information</div>
    <div class="full-data"><br>
        <div class="bio-data"><strong id="class">Class</strong><span style="float:right">samuel</span><hr></div>
        <div class="bio-data"><strong id="depart">Department</strong><span style="float:right">samuel</span><hr></div>
        <div class="bio-data"><strong id="post">Post</strong><span style="float:right">samuel</span><hr></div>
    </div>
    <div class="sub-head">Parent's Information</div>
    <div class="full-data"><br>
        <div class="bio-data"><strong id="name"> Parent's Full Name</strong><span style="float:right">samuel</span><hr></div>
        <div class="bio-data"><strong id="occupation">Occupation</strong><span style="float:right">samuel</span><hr></div>
        <div class="bio-data"><strong id="name">Nationality</strong><span style="float:right">samuel</span><hr></div>
        <div class="bio-data"><strong id="origin">Origin</strong><span style="float:right">samuel</span><hr></div>
        <div class="bio-data"><strong id="address">Residence address</strong><span style="float:right">samuel</span><hr></div>
        <div class="bio-data"><strong id="rel">Religion</strong><span style="float:right">samuel</span><hr></div>
    </div></p>
    <hr class="my-2">
    <p>More info</p>
    <p class="lead">
        <a class="btn btn-primary btn-lg" href="/home" role="button">Logout</a>
    </p>
</div>

<div class="profile-body">
    
</div>
{% endblock %}