.jumbotron {
    margin-top: 0%;
    text-align: left;
}

.main {
    margin-top: 10px;
    float: none;
}

.left-div {
    display: none;
}

.news-head {
    font-size: 20px;
    text-align: left;
    color: blue;
}

.news-body {
    font-size: 15px;
    text-align: left;
    color: black;
}

.by {
    color: green;
}

#sc:visited {
    font-weight: bolder;
    color: palevioletred;
}

.back {
    float: left;
    margin-top: 10px;
    font-size: 20px;
    background-color: blue;
    font-weight: bolder;
}

a {
    text-decoration: none;
    color: black;
}

.card-title {
    color: rgb(13, 235, 168);
}

.card {
    width: 400px;
    background-color: slategrey;
}

.img-responsive {
    height: 280px;
}

.head {
    font-family: cursive;
    color: brown;
}

article {
    background-color: lavender;
}