{% load static %}
<!DOCTYPE html>
<html>

<head>
    <title>
        Home
    </title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{% static 'users/css/base.css' %}">
    <link rel="stylesheet" href="{% static 'users/css/bootstrap.min.css' %}">
    <link rel="stylesheet" href="{% static 'posts/css/details.css' %}">
    <link rel="stylesheet" href="{% static 'users/images/head.png' %}">
    <script type="text/javascript" src="{% static 'users/scripts/bootstrap.min.js' %}"
    


    <!-- <script src="https://kit.fontawesome.com/9d936a6ca5.js" crossorigin="anonymous"></script> -->


    <body>
    <center>
                <div id="head" style="background-image:url({% static 'users/images/sch_comp.png' %})">
        
                    <img src="{% static 'users/images/logo.png' %}" float="left" height=60px width=60px />THE RHOKAYE SCHOOLS
                </div>
              <div class="navbar navbar-expand-sm navbar-dark bg-primary">
                  <a class="navbar-brand" href="#"><span glyphicon glyphicon-home></span></a>
                  <button class="navbar-toggler d-lg-none" type="button" data-toggle="collapse" data-target="#collapsibleNavId" aria-controls="collapsibleNavId"
                      aria-expanded="false" aria-label="Toggle navigation"></button>
                      <span class="icon-bar"></span>
                      <span class="icon-bar"></span>
                      <span class="icon-bar"></span>
                  <div class="collapse navbar-collapse" id="collapsibleNavId">
                      <ul class="navbar-nav mr-auto mt-2 mt-lg-0">
                      <li class="nav-item active">
                              <a class="nav-link" href="/home" id="home">Home<span class="sr-only">(current)</span></a>
                          </li>
                          <li class="nav-item">
                              <a class="nav-link" href="/posts" id="news">Updates<span class="sr-only"></span></a>
                          </li>
                          <li class="nav-item">
                              <a class="nav-link" href="/vacancy" id="vacancy">Vacancy</a>
                          </li>
                          <li class="nav-item">
                              <a class="nav-link" href="/staff" id="staff">Staff</a>
                          </li>
                          <li class="nav-item">
                              <a class="nav-link" href="/parent" id="Parent">Parent</a>
                          </li>
                          <li class="nav-item">
                              <a class="nav-link" href="/student" id="Student">Student</a>
                          </li>
                          <li class="nav-item dropdown">
                              <a class="nav-link dropdown-toggle" href="#" role="button" id="dropdownId" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">Access</a>
                              <div class="dropdown-menu" aria-labelledby="dropdownId">
                                  <a class="dropdown-item" href="#">Staff</a>
                                  <a class="dropdown-item" href="#">Student</a>
                                  <a class="dropdown-item" href="#">Parent</a>
                              </div>
                          </li>
                      </ul>
                  </div>
              </nav>

        </center>
            <div class="left-div">

                <div class="jumbotron">
                    <img id="paul" src="{% static 'users/images/paul.jpg' %}" alt="principal photo" />
                    <h5 class="display-6">FROM THE PRINCIPAL'S DESK</h5>
                    <p class="lead">Welcome to the RHOKAYE COLLEGE, the school for breeding geinus.
                    In this school, we dont trade Students ignorant rather we unlock the inner importance.
                    </p>
                    <p class="lead"><h6>ASSURANCE</h6>
                    We've got the key to Unlock the Child's Potentials, Every Child is a geinus.
                    </p>
                    <p class="lead"><h6>OUR GOALS</h6>
                    Understanding the Child deficiencies and proffer solutions, via our professional, well trained and experienced staff
                    </p>
                    <hr class="my-2">
                    <p>MR. OTITE - THE PRINCIPAL</p>
                    <p class="lead">
                        <a class="btn btn-primary btn-lg" href="Jumbo action link" role="button">Jumbo action name</a>
                    </p>
                </div>

            </div>
            <center>
            {% if messages %}
                {% for message in messages %}
                    <div class="alert alert-success">{{ message }}</div>
                {% endfor %}
            {% endif %}
            <div class="main">
            
                {% block content %} {% endblock %}
            </div>
            </center>

    </body>
     

</html>