 {% extends 'users/base.html' %}{% load static %} {% block content %}
<link rel="stylesheet" href="{% static 'users/css/home.css' %}">
<link rel="stylesheet" href="{% static 'users/images/sch_comp.png' %}">

<div class="container-fluid">
    <div class="jumbotron">
      <h1 class="display-6 ali">Rhokaye Nursery and Primary Schools</h1><hr class="my-2">
      <p class="lead"><img class="image" src="{% static 'users/images/sch_comp.png' %}" /></p>
      <p>Enroll with us and lets feel the goodness and testimony together. Available with us</p>
      <i class="fa fa-list-ul text-left" aria-hidden="true">
        <ol>
          <li style="background-color:cornflowerblue; width:130px; border-radius:5px">Normal class<li/>
          <ul><li style="color:grey; font-weight:100">In this class, we deal in normal classroom activities such as teaching.</li>
          <li style="color:grey; font-weight:100">This is meant for your children and anyone who would like to enroll in normal schooling</li></ul>
          Business and Enterpreneur class
          <ul><li style="color:grey; font-weight:100">In this class, we deal in educating individual in different Business ideals.</li>
          <li style="color:grey; font-weight:100">We also train people on investment</li></ul>
          <li style="background-color:cornflowerblue; width:120px; border-radius:5px">Adult class<li/>
          <ul><li style="color:grey; font-weight:100">In this class, we deal in giving adults who wish to further education in one two ways the best attention they need.</li>
          <li style="color:grey; font-weight:100">We also expose them to business and investment oppurtunity</li></ul>
          Counselling class
          <ul>
          <li style="color:grey; font-weight:100">Do you need Counsel about your carrer or Business. You are in the right place for that.</li></ul>
          <li style="background-color:cornflowerblue; width:120px; border-radius:5px">Coding class<li/>
          <ul><li style="color:grey; font-weight:100">As we all know that we are the era of technology and information. The demand for programming knowledge has also increased.</li>
          <li style="color:grey; font-weight:100">This is the best and right time for your children to start their career in it</li></ul>
          and many more ...
        </ol>
      </i>
      <p class="lead">
        <a class="btn btn-primary btn-lg" href="Jumbo action link" role="button">Enroll/Enquire</a>
      </p>
    </div>
    </div>

    <h2 id="abt"> About</h2>

        <div class="card" style="background-color:cadetblue; border-color:darkblue;">
          <img class="card-img-top" src="{% static 'users/images/sch_comp.png' %}" alt="">
          <div class="card-body">
            <h4 class="card-title">RHOKAYE School</h4>
            <p class="card-text"><p>
                We are known for our excellent performance. We don't entrap students through show offs, gimmicks or croockeries This is Rhokaye Nursery, Primary and Secondary schools. The Rhokaye school is always known for his intelligent performance in raising good,
                enlightened and well educated students. The School has been experiencing greatness in every aspects of education and development. More attetion is given to the children in the school. Parents' opinion is always considered if good enough
                to be approved.</p></p>
          </div>
           <br>
            
        
        <div class="card text-white bg-primary">
          <img class="card-img-top" src="holder.js/100px180/" alt="">
          <div class="card-body">
            <h4 class="card-title"></h4>
            <p class="card-text">
            <p> You have successfully installed XAMPP on this system! Now you can start using Apache, MariaDB, PHP and other components. You can find more info in the FAQs section or check the HOW-TO Guides for getting started with PHP applications. XAMPP
                is meant only for development purposes.
                <p>It has certain configuration settings that make it easy to develop locally but that are insecure if you want to have your installation accessible to others. If you want have your XAMPP accessible from the internet, make sure you understand
                    the implications and you checked the FAQs to learn how to protect your site. Alternatively you can use WAMP, MAMP or LAMP which are similar packages which are more suitable for production. Start the XAMPP Control Panel to check the
                    server status.
                </p>
        </div></p>
          </div>
    </div>
        <div class="jumbotron">
          <h1 class="display-6">Why Us</h1>
          <p class="lead">We are known for our great mark in the education sector <span class="glyphicon glyphicon-phone"></span> </p>
          <hr class="my-2">
          <p>
            <p class="card-text"><div class="abt-head">CONDUSIVE ENVIRONMENT</div>
            <div class="info">There is a condusive environment for learning, reading and so much much more</div>
            <div class="abt-head">DEDICATED TEACHER</div>
            <div class="info">We are talented with willing to work staffs. Qualified and as well dedicated to giving your children the best posible</div>
            <div class="abt-head">MODERN TEACHING EQUIPMENT</div>
            <div class="info">Is it in classroom such as projector for visual teaching, or well equiped computer room. All our equipment ranging from sporting to classroom are modern ones.</div></p>
          
        </div>
    </div>
</div>
 <footer class="page-footer">
      <div class="container-fluid text-center">
        <div class="row">
          rtttyy
        </div>
      </div>
    </footer>
{% endblock %}