{% load static %}
<!DOCTYPE html>
<html lang="en">
{% load crispy_forms_tags %}
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Login</title>
    <link rel="stylesheet" href="{% static 'users/css/login.css' %}">
    <link rel="stylesheet" href="{% static 'users/css/bootstrap.min.css' %}">
    <link rel="stylesheet" href="{% static 'users/css/all.css' %}" >
</head>

<body>

    <body style="background-image:url({% static 'users/images/bck4.png' %}); background-repeat:none">
        <div class="alert alert-info">
            An email has been sent your mail with an instruction to reset your password
        </div>
    </body>

</html>