{% extends 'vacancy/vacbase.html' %}
{% load static %}
{% load crispy_forms_tags %}
{% block content %}
<link rel="stylesheet" href="{% static 'users/css/register.css' %}">
<div class="content-section mt-5">
        <legend class="head">Create New Account</legend><hr>
    <form action="" method="POST">
    <div class="register">
    
        {% csrf_token %}
        {{ form|crispy }}
        </div>

        <div class="form-group">
            <button type="submit" class="but btn-primary">Sign up</button>
        
        </form>
    </div>
</div>

{% endblock %}