<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>just a test</title>
    <script type="text/javascript">
        var test = 0;

        function add() {
            var cd = document.getElementById("test");
            cd.innerHTML = test + 1;
        }
        setTimeout(function() {
            add()
        }, 3000)
    </script>
</head>

<body>
    <div id="test"></div>
</body>

</html>