{% extends 'vacancy/vacbase.html' %}
{% load static %}
<link rel="stylesheet" href="{% static 'vacancy/css/applications.css' %}">
{% load crispy_forms_tags %}

{% block content %}
<div class="row mb-5">
<div class="offset-lg-2 col-lg-6 col-md-12 col-sm-12 col-xs-12"</div>
<h3 style="color:yellow">Application Form</h3>
<form action="" method="POST">
    <div class="form-group">
    {% csrf_token %}
      {{form|crispy}}
    </div>
    <div class="well" style="color:yellow">Note: To Complete Your Application, you need to send a copy of your CV either to our facebook page or to this email <b style="color:pink">Otit4biz@yahoo.com</b> in the format shown in the image below: <img src="{% static 'vacancy/images/cv.jpg' %}" height="440px" width="350px" /></div><br>
    <button class="btn btn-primary" type="submit">Submit</button>
</form>

</div>
</div>
{% endblock  %}