{% extends 'vacancy/vacbase.html' %}
{% load static %}
    {% block content %}
        <div class="jumbotron mt-5">
            <div class="row">
                {% for vacancy in vacancies %}
                <div class="col-lg-6 col-md-12 col-sm-12 col-xm-12">
                    <h3 class="head" style="border-width:5p; border-color:green">{{vacancy.job_title}}</h3>
                    <div class=""><img id="image" src="{% static 'users/images/vac.png' %}" height="300px" /></div>
                    <legend>Post</legend> <span>{{vacancy.post}}</span><hr>
                    <legend>Job Description</legend> <span>{{vacancy.job_description}}</span><hr>
                    <legend>Qualifications</legend> <span>{{vacancy.qualifications}}</span><hr>
                    <legend>Role</legend> <span>{{vacancy.role}}</span><hr>
                    <legend>Salary</legend> <span>{{vacancy.salary}}</span><hr>
                    <legend>Location</legend> <span>{{vacancy.location}}</span><hr>
                    <legend>Requirements for Application</legend> <span>{{vacancy.requirements}}</span><hr>
                    <span style="color:red">For enquiries, email@<b style="color:pink">Otit4biz@yahoo.com</b> <br>
                    Or call <b>+234-6672-617-397</b>
                    <br>
                    <a class="btn btn-primary btn-lg" href="application" role="button">Apply</a>
                    <hr>
                </div>
                {% endfor %}
            </div>
            <p class="lead">
                <a class="btn btn-primary btn-lg" href="{% url 'index' %}" role="button">News Update</a>
            </p>
        {% endblock  %}
