.main-login {
    background-color: silver;
    opacity: 0.7;
    height: 140px;
    width: 400px;
}

#head {
    display: none;
}

.body {
    background-image: url('bck.png');
}

.but {
    margin-top: 8%;
    border-radius: 3px;
}

.left-div {
    display: none;
}

.main {
    float: none;
}

.head {
    font-size: 35px;
    margin-top: 5em;
}

.bt {
    background-color: green;
    color: whitesmoke;
}

.input {
    margin-top: 5%;
    border-bottom: 2px solid;
    border-color: black;
    padding: 7px;
    width: 250px;
    border-color: red;
}

.username {
    border: none;
    background: none;
    font-size: 18px;
    color: white;
    outline: none;
    text-align: center;
}

.alert {
    display: block;
}

.jumbotron {
    text-align: left;
    box-shadow: 3px 3px;
    position: absolute;
    top: 15%;
}