{% extends 'vacancy/vacbase.html' %}{% load static %} {% block content %}
<link rel="stylesheet" href="{% static 'profile/css/profile.css' %}">
<div class="container">
<div class="row mt-5" style="background-color:lavender">
    <div class="col-offset-lg-4 col-lg-6 col-sm-12 col-md-12 col-xs-12">
    <h3 class="" style="color:green">Announcement</h3><hr>
    <br>
{% if user.profile.category == "Student" %}
    <div class="well justify-center" style="color:red">You are not allowed to access this page. Only staffs can access</div>
    {% else %}
       <div class="content">
          {% for announcement in announcements %}
            <h4>{{announcement.title}}</h4>
            <p>{{announcement.body}}</p>
            <p style="color:grey">{{announcement.by}}</p>
          {% endfor %}
       </div>

    {% endif %}
    <hr class="my-2">
    <p>Signed</p>
    <p class="lead">
        <a class="btn btn-primary btn-lg" href="{% url 'profile' %}" role="button">Back</a>
    </p>
</div>
</div>
</div>
{% endblock %}