{% extends 'vacancy/vacbase.html' %}
{% load crispy_forms_tags %}
{% block content %}
<h3>News In Details</h3>
<article class="article">
    <div class='news-head'>
        <h4>{{posts.title}}</h4>
        <div class="by">Posted by {{posts.author}} At {{posts.created_at}}</div>
        <hr>
    </div>
    <img src='{{ posts.image.url }}' alt="" class="img-responsive" /><hr>
    <div>
        <article class="news-body">{{posts.body|linebreaks}}</article><br>
        
        <a href="/posts/?page=1" class="btn btn-primary" role="button">&lArr; Back</a><hr>
</article>
<h4>Discussions <i class="fa fa-arrow-circle-down" aria-hidden="true"></i></h4>
<span style="color:yellow">Comments {{posts.post_comment.count}}</span>
<div class="row">
<div class="col-lg-6 md-12 sm-12 xs-12">
{% for comment in comments %}
    {% if comment.post_comment_id == posts.id %}
        <div class="card text-white bg-slategrey" style="display:block">
          <div class="card-body">
            <h5 class="card-title" style="float:left; color:purple">{{comment.author}}</h5>
            <p class="card-text" style="color:brown; display:block">-{{comment.created}}</p>
            <p class="card-text">{{comment.body}}</p>
          </div>
        </div>
    {% endif %}
{% endfor %}
</div>
<form method="POST" action="">
<div class="form-group ml-5">
    <legend class="legend">Comment</legend>
    {% csrf_token %}
    {{ comment_form|crispy }}
    <p>User</p>
    <button class="btn btn-primary" type="submit">Comment</button>
</div>
</form>
</div>
</div>
{% endblock %}